flows.json
[
    {
        "id": "cc55ffdc2c16a239",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c6b3d54825a8db59",
        "type": "mqtt in",
        "z": "cc55ffdc2c16a239",
        "name": "",
        "topic": "queda/topic",
        "qos": "2",
        "datatype": "utf8",
        "broker": "714677cabac8b3e2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "ef97300c43490b85",
                "26825bb2d726a19b"
            ]
        ]
    },
    {
        "id": "ef97300c43490b85",
        "type": "debug",
        "z": "cc55ffdc2c16a239",
        "name": "queda",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 380,
        "y": 100,
        "wires": []
    },
    {
        "id": "363bc13655a4b583",
        "type": "telegram sender",
        "z": "cc55ffdc2c16a239",
        "name": "Notify",
        "bot": "ee97109bcec8cc37",
        "haserroroutput": false,
        "outputs": 1,
        "x": 390,
        "y": 320,
        "wires": [
            [
                "86640205417f14b3",
                "90c024af0afcac62"
            ]
        ]
    },
    {
        "id": "86640205417f14b3",
        "type": "debug",
        "z": "cc55ffdc2c16a239",
        "name": "Telegram",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 690,
        "y": 280,
        "wires": []
    },
    {
        "id": "26825bb2d726a19b",
        "type": "function",
        "z": "cc55ffdc2c16a239",
        "name": "Formata mensagem",
        "func": "let text = msg.payload; \nmsg.payload = {}; \nmsg.payload.chatId = -4222941246;\nmsg.payload.type = 'message'; \nmsg.payload.content = text;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 240,
        "wires": [
            [
                "363bc13655a4b583"
            ]
        ]
    },
    {
        "id": "90c024af0afcac62",
        "type": "mqtt out",
        "z": "cc55ffdc2c16a239",
        "name": "",
        "topic": "Telegram",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "714677cabac8b3e2",
        "x": 560,
        "y": 400,
        "wires": []
    },
    {
        "id": "714677cabac8b3e2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ee97109bcec8cc37",
        "type": "telegram bot",
        "botname": "Objetos-MQTT",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]